 body {
   max-width: 700px;
   margin: auto;
   background-color: #f8f9fa;
 }

 h1 {
   letter-spacing: 1px;
 }

 input[type="text"],
 input[type="date"] {
   border-radius: 20px;
 }

 button {
   border-radius: 20px !important;

 }